In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv('F:/python/zomato.csv',encoding='latin-1')
df

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()
#these will show int datatype only

# Things to find
### 1. Missing values
### 2. Explore abount numerical variables
### 3. Explore about categorical 
### 4. Finding relatioship bw features

In [ ]:
df.isnull().sum()

In [ ]:
[features for features in df.columns if df[features].isnull().sum()>0]

In [ ]:
sns.heatmap(df.isnull(),yticklabels=False, cbar=False, cmap='viridis')

In [ ]:
df_country= pd.read_excel('F:/python/Country-Code.xlsx')
df_country.head(2)

In [ ]:
final_df= pd.merge(df,df_country, on='Country Code', how='left')

In [ ]:
final_df.head()

In [ ]:
# to check datatypes
final_df.dtypes

In [ ]:
country_name=final_df.Country.value_counts().index

In [ ]:
final_df.Country.values

In [ ]:
country_value= final_df.Country.value_counts().values

In [ ]:
# creating a pie chart
plt.pie(country_value[:3], labels=country_name[:3], autopct="'%1.3f%%")
plt.show()

Maximum transactions are fromm india, then US then UK

In [ ]:
# Numerical variables
final_df.columns

In [ ]:
ratings= final_df.groupby(['Aggregate rating', 'Rating color', 'Rating text']).size().reset_index().rename(columns={0:'Rating count'})

In [ ]:
ratings

1. rating 4.5-4.9= excellent
2. rating 4.0 -4.4= very good
2. rating 3.5 -3.9= good
4. rating 2.5 -3.4= Average
5. rating 1.8 -2.4=poor

In [ ]:
plt.rcParams['figure.figsize']=(12,6)
# sns.barplot(x='Aggregate rating', y= 'Rating count', data= ratings)

In [ ]:
sns.barplot(x='Aggregate rating', y= 'Rating count', data= ratings, palette=['white','red','orange','green','green'])

In [ ]:
sns.countplot(x= "Rating color", data= ratings, palette=['blue','red','orange','green','green'])

In [ ]:
# final_df[final_df['Aggregate rating'] > 0]['Country'].value_counts().sum() #7403
# # final_df[final_df['Aggregate rating'] == 0]['Country'].value_counts().sum() #2148
# # total no. of ratings= 9551
final_df.groupby(['Aggregate rating','Country']).size().reset_index().head(5)

In [ ]:
final_df[['Country','Currency']].value_counts()

In [ ]:
final_df.columns

In [ ]:
final_df[['Country','Has Online delivery']].value_counts()

1. online deliveries are available in india, uae

In [ ]:
# final_df['City'].value_counts()
city_values= final_df.City.value_counts().values
city_labels= final_df.City.value_counts().index

In [ ]:
# plt.pie(country_value[:3], labels=country_name[:3], autopct="'%1.3f%%")
plt.pie(city_values[:5], labels= city_labels[:5], autopct='%1.2f%%')
# plt.pie(City)
plt.show()

In [ ]:
# cuisines
final_df['Cuisines'].head(10)